# SwiftPM
.build/

# Xcode
DerivedData/
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager resolution
Package.resolved

# macOS
.DS_Store

# Logs
*.log

# SwiftLint/SwiftFormat caches
.swiftlint_cache
.swiftformat.tmp
